Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
WindowsNoEditor/
/Prometheus_Prometheus/Prometheus/Content/Paks
/Prometheus_Prometheus
